.head{
    background-color: #F0FFF0;


}
.button-sign-in{
    background: #21B573;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;


}

#learn{
    color: #FD511A;
    margin-top: 5px;
    margin-bottom: 20px
}

#fun{
    font-style;
    font-size: 48px;
    font-weight: bold;

}

#schedule{
    font-style;
    font-size: 48px;
    font-weight: bold;
    color: #21B573 ;
}
.border{
    background-color: white;
    box-shadow: white;
}

.learn{
    margin-top: 150px;
    background: none;
    border: 5px;
}

.learns{
    border: none;
    
}
.course ,.testimonial{
    margin-top: 50px;
    margin-bottom: 20px;
}

.icon{

    width: 100px;
    
}

.calender{
    width: 40px;
    
}

.modern{
    padding: 10px 20px;
}

.calender{
    margin-top: 10px;
}
.man{
    width: 200px;
    margin-left: 50px;
}

.photo{
    margin-top: 50px;
}

#drop{

    margin-top: 35px;
}


.foot{

    background-color: #282531;
    height: 500px;
    color: white;

}

container learn, course{
    margin-bottom: 50px;
}

#mill{

    margin-left: 60px;
    margin-top: 80px;
}
.list{
    margin-left: 10px;
    margin-top: 120px;
}

#block{
    font-size: 25px;
}
.feet{
    margin-top: 50px;
}